.primary_font {
  font-family: "domainedisplay_regular", Arial, Helvetica, sans-serif;
  /* font-size: 2em; */
}

.secondary_font {
  font-family: "roboto_regular";
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 28px;
}

.secondary_font_bold {
  font-family: "roboto_regular";
  font-style: medium;
  font-weight: bold;
  font-size: 1em;
  line-height: 28px;
}

.aboutPage {
  max-width: 100% !important;
}

.aboutPageHeaderText {
  margin-right: 100px;
}

.aboutPageHeaderTitle {
  margin-bottom: 20px;
}

.aboutPageTitle {
  margin-bottom: 175px;
  margin-top: 100px;
  align-content: center;
}

.byTheNumbersObject {
  align-content: center;
  justify-content: center;
}

.byTheNumbersObjectContent {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.who-we-are-image-container {
  justify-content: flex-end;
  padding: 5% 0;
}

.mobile-who-we-are-image-container {
  display: block;
}

.mobile-about-page-who-we-are-image {
  width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 37.5px;
}

.about-page-who-we-are-image {
  max-width: 50%;
  max-height: auto;
  margin-right: 50px;
}

.aboutPageWhoWeAreContent {
  margin: 0 20px 0 20px;
  color: white;
}

.mobile-aboutPageWhoWeAreContent {
  margin: 0 30px;
  color: white;
  padding-bottom: 20px;
  text-align: center;
}

.aboutPageWhoWeAreContentContainer {
  display: flex;
  align-items: center;
}

.by-the-numbers {
  justify-content: center;
  padding-bottom: 5%;
}

.byTheNumbersObjectContainer {
  height: 150px;
  padding-bottom: 150px;
  padding-top: 50px;
}

.aboutPageNumbersObjectSubtitle {
  margin: 0 20px 0 20px;
}

.aboutPageLeadershipTeam {
  margin-bottom: 200px;
}

.leaderImage {
  margin-bottom: 75px;
}

.leadershipObjectContainer {
  height: 150px;
  padding-bottom: 150px;
  padding-top: 50px;
  margin-bottom: 10px;
}

.leadershipObjectContent {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.partnersTitle {
  padding: 0 10% 0 10%;
  text-align: center;
}

.aboutPagePartnersImage {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  width: 100%;
  height: auto;
}

.aboutPartners {
  margin-bottom: 50px;
  justify-content: center;
}

.counselor-advisor-container {
  margin: 15px 30px;
}

.innerObject {
  padding: 40px;
}

/* WORK FROM HERE */

.aboutPageCounselorTitle {
  margin: auto;
}

.counselors {
  margin-bottom: 150px;
}

.advisorObject {
  background-color: white;
  margin: 15px 30px;
}

.centeredText {
  text-align: center;
}

.officesContainer {
  padding: 10% 5%;
  background-color: #2b1f31;
  color: white;
}

.officeImgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.offices_row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.officeTitle {
  color: white;
}

.white-text {
  color: white !important;
}

.mobile-hero-image-container {
  display: flex;
  justify-content: center;
}

.mobile-header {
  border: solid blue 2px;
}

.mobile-hero-image {
  width: 105%;
  height: auto;
}

.mobile-top-row-header-container {
  padding: 0 20px;
}
