.demo_form_container {
  border: solid #1886df 2px;
  margin-bottom: 10%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 900px;
}

.get_in_touch_container {
  border: solid #1886df 2px;
  margin-bottom: 10%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 1000px !important;
  height: 630px !important;
}

.get_in_touch_object {
  width: 900px;
  margin: 0px;
}

.demo-form-object-container {
  display: flex;
  justify-content: center;
}

.form_title_container {
  display: flex;
  justify-content: center;
}

.form_title {
  font-size: 42px !important;
}

.submit_button_container {
  display: flex;
  justify-content: center;
}

.submit_button {
  background-color: #1886df;
  color: white;
  padding: 5px 10px;
  border: none;
  margin-top: 30px;
  width: 166px;
  height: 55px;
  font-size: 20px;
}

.submit_button:hover {
  background-color: #2b0fca;
  color: white;
  padding: 5px 10px;
  border: none;
  margin-top: 30px;
  width: 166px;
  height: 55px;
  font-size: 20px;
}

.button {
  margin-bottom: 100px;
}

.demoTextImgContainer {
  background-color: #ebf9ff;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.title_row {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.left_content_row {
  margin-bottom: 20px;
  margin-right: 80px;
}

.upper_left_content_row {
  margin-bottom: 20px;
  margin-right: 40px;
  width: 300px;
  margin-left: -82px;
}

.upper_right_content_row {
  margin-bottom: 20px;
  margin-left: 40px;
}

.lower_left_content_row {
  margin-bottom: 20px;
  margin-right: 80px;
  width: 300px;
}

.lower_right_content_row {
  margin-bottom: 20px;
  margin-right: 80px;
}

.input_style {
  border: none;
  border-bottom: solid #1886df 2px;
  width: 300px;
}

.input_style:placeholder-shown {
  border: none;
  border-bottom: solid #ebf9ff 2px;
  width: 300px;
}

.input_style:hover {
  border: none;
  border-bottom: solid #1886df 2px;
}

.textarea_style {
  border: solid #ebf9ff 2px;
}

.demoTextTitleContainer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.demoTextTitle {
  margin: 0 30%;
  font-size: 25px;
}

.middle_row {
  margin-bottom: 50px;
}

.contactArray {
  margin-top: 50px;
  min-width: 72%;
  display: flex;
  justify-content: space-between;
}

.getInTouchContactArrayContainer {
  display: flex;
  justify-content: center;
}

.contactArrayRow {
  display: inline-flex;
  justify-content: left;
}

.white_font {
  color: white;
}

.nav-link-no-underline:hover {
  border-bottom: none !important;
}

.your-message-title {
  margin-bottom: 30px;
}

.get-in-touch-email {
  width: 364px !important;
}

.get-in-touch-title_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.demo-get-in-touch-gray-lines {
  position: absolute;
  margin-top: 130px;
  margin-left: 200px;
  z-index: 1;
  height: auto;
  width: 120px;
}
