.logo-text {
  font-family: "domainedisplay_regular", Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.header {
  background-color: white;
}

.nav-link {
  font-family: "roboto_regular";
  color: #2b1f30 !important;
}

.navbar-brand {
  font-family: "roboto_regular";
}

.footerListGroupItem {
  font-family: "roboto_regular";
  background-color: #ebf9ff !important;
}

.nav-link:hover {
  border-bottom: solid 2px #1886df !important;
}

.footer-background {
  background-color: #ebf9ff;
}

.footer {
  padding: 0 0 30px 0 !important;
}

.test {
  margin-bottom: 100px;
}

.translator:hover {
  cursor: pointer;
}

.demo-page-link {
  color: #1886df !important;
}

.footer-logo {
  padding-top: 20px;
}

.activeStyle {
  border-bottom: solid 2px #1886df !important;
}
