.logo-text {
  font-family: "domainedisplay_regular", Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.header {
  background-color: white;
}

.nav-link {
  font-family: "roboto_regular";
  color: #2b1f30 !important;
}

.navbar-brand {
  font-family: "roboto_regular";
}

.footerListGroupItem {
  font-family: "roboto_regular";
  background-color: #ebf9ff !important;
}

.nav-link:hover {
  border-bottom: solid 2px #1886df !important;
}

.footer-background {
  background-color: #ebf9ff;
}

.footer {
  padding: 15px 0 !important;
}

.test {
  margin-bottom: 100px;
}

.translator:hover {
  cursor: pointer;
}

.demo-page-link {
  color: #1886df !important;
}

.footer-logo {
  padding-top: 20px;
}

.activeStyle {
  border-bottom: solid 2px #1886df !important;
}

.mobile-activeStyle {
  font-weight: bold;
}

.footer-nav-link {
  padding: 0px !important;
  display: inline-block;
}

.blue-header-locale-text {
  margin-left: -15px;
  margin-top: 5px;
  color: #1886df !important;
  font-size: 12px;
}

.mobile-blue-header-locale-text {
  margin-left: -150px;
  margin-top: -30px;
  color: #1886df !important;
  font-size: 12px;
}

@media (max-width: 850px) {
  .footer-logo {
    display: none;
  }
}

.navbar-nav {
  align-items: flex-end !important;
}

.navbar-toggler {
  border: none !important;
}

.logo {
  max-width: 128px !important;
  /* width: 128px !important;
  min-width: 128px !important; */
  height: auto;
}
