.privacy_security_title {
  display: flex;
  justify-content: center;
}

.title_bottom {
  margin-bottom: 100px;
}

.title_top {
  margin-top: 50px;
}

.four_oh_four_content {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.thank_you_outer_content {
  min-height: 60vh;
}

/* NOTE IF THE HEADER OR FOOTER HEIGHT CHANGES THIS NEEDS TO BE UPDATED 
182 is header height + footer height
*/
.four_oh_four_outer_content {
  min-height: calc(100vh - 182px);
}

.submit_button {
  background-color: #1886df;
  color: white;
  padding: 5px 10px;
  border: none;
  margin-top: 30px;
  width: 166px;
  height: 55px;
  font-size: 20px;
}

.thank-you-image {
  position: relative;
  z-index: 2;
}

.thank-you-gray-lines {
  position: absolute;
  margin-bottom: -20px;
  z-index: 1;
}

.security-object-row {
  width: 450px;
}

.security-object-col-container {
  display: flex;
  justify-content: space-evenly;
}

.white-font {
  color: white;
}

.security-button {
  background-color: white;
  color: #1886df;
  padding: 5px 10px;
  border: none;
  font-size: 20px;
}
.security-button:hover {
  background-color: #2b0fca;
  color: white;
  padding: 5px 10px;
  border: none;
  font-size: 20px;
}

.security-subheader {
  font-size: 40px;
  margin-bottom: 30px;
}

.security-title-font-size {
  font-size: 60px;
}

.security-title-row {
  margin-bottom: 100px;
}

.security-line {
  position: absolute;
  z-index: 1;
  margin-top: -50px;
  margin-left: 600px;
}

.security-blue-stroke-10 {
  position: absolute;
  z-index: 1;
  margin-top: -180px;
  margin-left: 550px;
}

.security-oval {
  position: absolute;
  z-index: 1;
  margin-top: -150px;
  margin-left: -650px;
}

.security-header-text {
  z-index: 2;
}

.security-content-row-header {
  margin-top: 100px;
}

.security-content-row-footer {
  margin-bottom: 100px;
}
