.privacy_security_title {
  display: flex;
  justify-content: center;
}

.title_bottom {
  margin-bottom: 100px;
}

.title_top {
  margin-top: 50px;
}

.four_oh_four_content {
  display: flex;
  justify-content: center;
}

.thank_you_outer_content {
  min-height: 60vh;
}

.four_oh_four_outer_content {
  min-height: 75vh;
}

.submit_button {
  background-color: #1886df;
  color: white;
  padding: 5px 10px;
  border: none;
  margin-top: 30px;
  width: 166px;
  height: 55px;
  font-size: 20px;
}
