.primary_font {
  font-family: "domainedisplay_regular", Arial, Helvetica, sans-serif;
}

.secondary_font {
  font-family: "roboto_regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.secondary_font_regular {
  font-family: "roboto_regular";
  font-style: medium;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.homePageContainer {
  min-width: 100% !important;
}

.top_row {
  margin: 0 0 150px 0;
  padding: 0 0 0 150px;
}

.top_row_left_col {
  display: flex;
  max-width: 30em;
  align-items: flex-end;
}

.homePageHeaderTitle {
  font-size: 60px;
  line-height: 62px;
  color: #2b1f30;
  max-width: 400px;
}

.homePageHeaderBlurb {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #2b1f30;
  max-width: 400px;
}

.homePageHeaderEmailFormText {
  font-size: 22px;
  line-height: 24px;
  color: #958f97 !important;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.homePageHeaderEmailFormText:hover {
  font-size: 22px;
  line-height: 24px;
  color: #2b1f30 !important;
}

.homePageHeaderEmailForm {
  border-bottom: 4px solid #f4f4f5;
}

.homePageHeaderEmailForm:hover {
  border-bottom: 4px solid #1981d6;
  align-content: space-between;
}

.homePageSchoolTestimonialsTitle {
  justify-content: center;
  margin-bottom: 75px;
}

.homePageFeaturesSendDocumentLinkText {
  border-bottom: 1px solid #1986df;
  padding-bottom: 3px;
}

.homePageFeaturesSendDocumentLinkText:hover {
  border-bottom: 3px solid #1986df;
}

.homePageFeaturesLeverageLinkText {
  border-bottom: 1px solid #ff6574;
  padding-bottom: 3px;
}

.homePageFeaturesLeverageLinkText:hover {
  border-bottom: 3px solid #ff6574;
}

.homePageFeaturesDiscoverLinkText {
  border-bottom: 1px solid #ffca43;
  padding-bottom: 3px;
}

.homePageFeaturesDiscoverLinkText:hover {
  border-bottom: 3px solid #ffca43;
}

.homePageHeaderEmailSubmitButton {
  display: flex;
  align-self: center;
}

.homePageFeaturesImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
}

.homePageFeaturesText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homePageFeaturesRightSideTextObject {
  margin: 0 20% 0 20%;
}

.homePageFeaturesLeftSideTextObject {
  margin: 0 20% 0 20%;
}

.homePageFeaturesImageBackground {
  background: linear-gradient(90deg, #ebf9ff 50%, white 50%);
}

.homePageFeaturesImageBackgroundReverse {
  background: linear-gradient(90deg, white 50%, #ebf9ff 50%);
}

.homeMarquee {
  margin-bottom: 238px;
}

.featureRows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}

.homePageVideoCaseStudyTitle {
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 100px 150px 0px 150px;
  color: white;
}
.homePageVideoCaseStudy {
  background: linear-gradient(#1886df 50%, white 50%);
  min-width: 100%;
}

.homePageVideoCaseStudyVideoEmbed {
  justify-content: center;
  margin-bottom: 150px;
  /* background: linear-gradient(#1886df 50%, white 50%); */
}

.homePagePoweredByOurPartnersTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.homePageHeaderProductImage {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}

.homePartnerImages {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 100%;
  margin-bottom: 150px;
}

.imageObjectRow {
  padding: 0 10%;
}

.imageObjectTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.homePageImg {
  display: flex;
  width: 33em;
  height: auto;
}

.homePageButton {
  font-size: 22px;
  background: none;
  color: #757575;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  margin-top: 10px;
  padding-bottom: 25px;
}

.homeFeatureLink {
  color: #2b1f30 !important;
}

.homeFeatureLink:hover {
  text-decoration: none;
}
