.primary_font {
  font-family: "domainedisplay_regular", Arial, Helvetica, sans-serif;
}

.secondary_font {
  font-family: "roboto_regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.secondary_font_regular {
  font-family: "roboto_regular";
  font-style: medium;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.top_row {
  display: flex;
  justify-content: space-around;
  margin: 0 0 150px 0;
}

.mobile_top_row {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.top_row_left_col {
  display: flex;
  align-items: center;
  margin: 0 100px 0 0;
  min-width: 250px;
}

.mobile_top_row_left_col {
  display: flex;
  align-items: flex-end;
  margin: 0 100px;
}

.mobile_top_row_header {
  text-align: center;
}

.homePageHeaderBlurb {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #2b1f30;
  max-width: 400px;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.mobile-email-form-container {
  display: flex;
  justify-content: flex-end;
}

.email-form {
  font-size: 1.1em !important;
}

.email-form:hover {
  /* border-bottom: 4px solid #1981d6; */
  cursor: pointer;
}

.homePageSchoolTestimonialsTitle {
  justify-content: center;
}

.homePageFeaturesSendDocumentLinkText {
  border-bottom: 1px solid #1986df;
  padding-bottom: 1px;
}

.homePageFeaturesSendDocumentLinkText:hover {
  border-bottom: 3px solid #1986df;
  margin-bottom: -2px;
}

.homePageFeaturesLeverageLinkText {
  border-bottom: 1px solid #ff6574;
  padding-bottom: 1px;
}

.homePageFeaturesLeverageLinkText:hover {
  border-bottom: 3px solid #ff6574;
  margin-bottom: -2px;
}

.homePageFeaturesDiscoverLinkText {
  border-bottom: 1px solid #ffca43;
  padding-bottom: 1px;
}

.homePageFeaturesDiscoverLinkText:hover {
  border-bottom: 3px solid #ffca43;
  margin-bottom: -2px;
}

.homePageHeaderEmailSubmitButton {
  align-self: center;
  border: green solid 2px;
}

.homePageFeaturesImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
}

.mobile-homePageFeaturesImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

.mobile-home-page-video-case-study-title {
  padding: 0 20px;
}

.homePageFeaturesText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-homePageFeaturesText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homePageFeaturesRightSideTextObject {
  margin: 0 10%;
}

.mobile-homePageFeaturesRightSideTextObject {
  padding: 0 0 0 35px;
  max-width: 350px;
  display: flex;
  justify-content: center;
}

.mobile_feature_title {
}

.mobile-test {
  display: flex;
  justify-content: center;
  border: solid red 2px;
}

.homePageFeaturesLeftSideTextObject {
  margin: 0 10%;
}

.homePageFeaturesImageBackground {
  background: linear-gradient(90deg, #ebf9ff 50%, white 50%);
}

.homePageFeaturesImageBackgroundReverse {
  background: linear-gradient(90deg, white 50%, #ebf9ff 50%);
}

.homeMarquee {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.featureRows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}

.mobile-featureRows {
  display: flex;
  justify-content: center;
  margin-bottom: 125px;
}

.homePageVideoCaseStudyTitle {
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 50px 150px 0px 150px;
}

.mobile-homePageVideoCaseStudyTitle {
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.homePageVideoCaseStudy {
  background: linear-gradient(#1886df 70%, white 30%);
  min-width: 100%;
}

.mobile-homePageVideoCaseStudy {
  background: linear-gradient(#1886df 70%, white 30%);
  min-width: 100%;
}

.homePageVideoCaseStudyVideoEmbed {
  justify-content: center;
  margin-bottom: 150px;
}

.mobile-homePageVideoCaseStudyVideoEmbed {
  justify-content: center;
}

.homePagePoweredByOurPartnersTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.homePageHeaderProductImage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.homePartnerImages {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 100%;
  /* margin-bottom: 150px; */
}

.mobile-homePartnerImagesContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100px;
  width: auto;
}

.mobile-homePartnerImages {
  display: flex;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 70%;
  margin-bottom: 30px;
}

.mobile-imageObjectCol {
  justify-content: center;
}

.imageObjectRow {
  display: flex;
  align-content: center;
}

.imageObjectTitle {
  display: flex;
  justify-content: center;
  /* margin-bottom: 50px; */
}

.mobile-imageObjectTitle {
  margin-bottom: 10px;
  padding: 10px;
}

.mobile-imageObjectTitleText {
  text-align: center;
}

.mobile-homePageImg {
  position: relative;
  display: flex;
  width: 70%;
  height: auto;
  z-index: 3;
}

.mobile-homePageImg-row {
  margin: 0 30px;
}

.homePageImg {
  position: relative;
  width: 110%;
  height: auto;
  z-index: 3;
  flex-shrink: 0;
  min-width: 500px;
}

.stroke-10 {
  position: absolute;
  z-index: 2;
  margin-top: -100px;
  margin-left: -50px;
}

.video {
  position: relative;
  display: flex;
  width: 33em;
  height: auto;
  z-index: 3;
}

.get-a-demo-button {
  font-size: 1.1em !important;
  background: none;
  color: #757575 !important;
  border: none;
  border-bottom: 2px solid #f4f4f5;
  padding-bottom: 3.6px;
  cursor: pointer;
  outline: inherit;
  margin-top: 10px;
  min-width: 110px;
}

.get-a-demo-link {
  font-size: 1.1em !important;
  background: none;
  color: #757575 !important;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  margin-top: 10px;
}

.get-a-demo-link:hover {
  font-size: 1.1em !important;
  background: none;
  /* color: #2b1f31 !important; */
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  margin-top: 10px;
  text-decoration: none !important;
}

.get-a-demo-button:hover {
  font-size: 1.1em !important;
  background: none;
  /* color: #757575 !important; */
  border-bottom: 2px solid #1981d6;
  padding-bottom: 3.6px;
  cursor: pointer;
  outline: inherit;
  margin-top: 10px;
  text-decoration: none !important;
}

.homeFeatureLink {
  color: #2b1f30 !important;
}

.homeFeatureLink:hover {
  text-decoration: none;
}

.white-font {
  color: white !important;
}

.get-a-demo-form {
  min-width: 470px;
}

.home-partners-image-container {
  display: flex;
}

.home-partners-image-content {
  margin: 50px;
}

.home-page-partner-image {
  margin: 0 25px;
}

.partial-width-dark-blue {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #1786df;
  background: linear-gradient(white 3%, #1786df 3% 55%, white 55%);
}
