.primary_font {
  font-family: "domainedisplay_regular", Arial, Helvetica, sans-serif;
  /* font-size: 42px; */
}

.secondary_font {
  font-family: "roboto_regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.titleContainer {
  margin-bottom: 100px;
  margin-top: 85px;
  padding: 0 20%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.featuresSendPage {
  /* max-width: 100% !important; */
}

.featuresVideoEmbed {
  justify-content: center;
  margin-bottom: 220px;
}

.featureImage {
  background-color: #ebf9ff;
  height: 420px;
}

.featureSubSectionTextAlign {
  display: flex;
  align-items: center;
}

.featureSendPartnersTitle {
  margin-top: 250px;
  justify-content: center;
  background-color: #ebf9ff;
  /* padding-top: 100px; */
  margin-bottom: 220px;
}

.sub_footer_quote {
  color: white;
  padding-top: 20px;
}

.subFooterPage {
  background-color: #1886df;
  justify-content: center;
  height: 20em;
  margin-bottom: 220px;
  align-items: center;
  display: flex;
}

.subFooterPageQuote {
  align-items: center;
  display: flex;
}

.bullet_point {
  margin-bottom: 10px;
  margin: 0 15px 10px 15px;
}

.researchBottomRow {
  margin-bottom: 250px;
}

.subFooterPageImg {
  width: 50%;
  height: auto;
}

.white_font {
  color: white !important;
}
.subFooterPageImgContainer {
  display: flex;
  align-items: center;
}

.full-width-light-blue {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #ebf9ff;
}

.full-width-near-black {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #2b1f31;
}

.full-width-dark-blue {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: #1786df;
}

.full-width-dark-blue-custom-height {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: linear-gradient(white 10%, #1786df 10% 90%, white 90%);
}
