.solutions-title {
  margin-top: 85px;
  padding: 0 20%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.solutions-subtitle {
  justify-content: center;
}

.solutions-subtitle p {
  width: 600px;
  text-align: center;
}

.solutions-bottom-spacing {
  margin-bottom: 100px;
}

.solutions-left-align-light-blue-background {
  position: absolute;
  z-index: 0;
  margin-top: 0px;
  margin-left: -1305px;
}

.solutions-right-align-light-blue-background {
  position: absolute;
  z-index: 0;
  margin-top: 0px;
  margin-left: 00px;
}

.solutions-header {
  margin-bottom: 150px;
}

.solutions-counselors-link-text {
  border-bottom: 1px solid #1886df;
  padding-bottom: 1px;
}

.solutions-counselors-link-text:hover {
  border-bottom: 3px solid #1886df;
}

.solutions-it-link-text {
  border-bottom: 1px solid #ff6575;
  padding-bottom: 1px;
}

.solutions-it-link-text:hover {
  border-bottom: 3px solid #ff6575;
}

.solutions-principals-link-text {
  border-bottom: 1px solid #dfff4a;
  padding-bottom: 1px;
}

.solutions-principals-link-text:hover {
  border-bottom: 3px solid #dfff4a;
}

.solutions-superintendents-link-text {
  border-bottom: 1px solid #1886df;
  padding-bottom: 1px;
}

.solutions-superintendents-link-text:hover {
  border-bottom: 3px solid #1886df;
}

.solutions-line {
  position: absolute;
  z-index: 1;
  margin-top: -175px;
  margin-left: 650px;
}

.solutions-blue-stroke-10 {
  position: absolute;
  z-index: 1;
  margin-top: -75px;
  margin-left: -205px;
  width: 50px;
  height: auto;
}

.solutions-oval {
  position: absolute;
  z-index: 1;
  margin-top: 175px;
  margin-left: -650px;
}

.solutions-header-text {
  z-index: 2;
}

.solutions-bold {
  font-weight: bold !important;
  margin-bottom: 0px;
}
